.ant-carousel .slick-slide {
    // text-align: center;
    // height: 160px;
    // line-height: 160px;
    background: transparent;
    overflow: hidden;
  }
  .ant-carousel .slick-dots li button {
    background: #364d79 !important;
  }
  .ant-carousel .slick-dots li.slick-active button {
    background: #364d79 !important;
  }
