.StylesModalConfirmSwal {
    padding-top: 20px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 12px;
    }
    p {
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 1.5;
    }
    .swal2-header {
        display: none;
    }
}
